In [3]:
# Question 1
import numpy as np
import pandas as pd
data = {'Name':['Abhishek'],'Age':[21],'Email-id':['abhimittal.0206@gmail.com'],'Phone-No.':[7082376660]}
df=pd.DataFrame(data)
df.loc[1] = ['aaaaaaa','21','fdgsdjdhfsdhfg@gmail.com','43463356']
df

       Name Age                   Email-id   Phone-No.
0  Abhishek  21  abhimittal.0206@gmail.com  7082376660
1   aaaaaaa  21   fdgsdjdhfsdhfg@gmail.com    43463356

In [9]:
# Question 2
sssimport pandas as pd
df = pd.read_csv('weather.csv')
df.head(5)
df.head(10)
df.describe()
df.tail(5)
df.shape
df2=df.iloc[0:367,2:3]
df2.describe()

          MinTemp
count  366.000000
mean     7.265574
std      6.025800
min     -5.300000
25%      2.300000
50%      7.450000
75%     12.500000
max     20.900000